<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.spagreen.linphonesdk">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:usesCleartextTraffic="true">

        <service
            android:name="org.linphone.core.tools.service.CoreService"
            android:foregroundServiceType="phoneCall|camera|microphone"
            android:stopWithTask="false" />

    </application>

</manifest>
